.content {
    margin-top: 5rem;
}

.food-desert {
    margin-top: 6rem;
}

.intro {
    margin-top: 4rem;
}

.selected {
    color: #28a745 !important;
}

.blue {
    color: #007bff;
}

.emojis img {
    width: 75px;
    height: 75px;
}

.faq {
    margin-top: 6rem;
}

.logo {
    width: 50px !important;
    height: 50px !important;
}

.logo:hover {
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .emojis img {
        width: 50px;
        height: 50px;
    }
    .emojis {
        margin: auto !important;
    }
}